<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="X-UA-Compatible"      content="IE=edge">
    <meta name="robots"                     content="all, index, follow" />
    
    <!-- Geral -->
    <meta name="language"                   content="pt-br" />
    <meta http-equiv="pragma"               content="no-cache" />
    <meta charset="utf-8">
    <meta name="viewport"                   content="width=device-width, initial-scale=1.0">
    <meta name="description"                content="Cartório Moreira de Deus - Existe para fornecer segurança jurídica e atender com qualidade a sociedade.">
    <meta name="keywords"                   content="cartório fortaleza, cartório, cartório em fortaleza, cartório de notas, tabelionato de notas, cartorio tabelionato, cartório moreira de deus, moreira de deus">    
    <meta name="author"                     content="Fabio Lenine Vilela da Silva">
    
    <!-- Meta tags Google
    <link rel="author" href="https://plus.google.com/"/>
    <link rel="me" href="https://plus.google.com/"/>
    -->
    
    <!-- Meta tags do Facebook -->
    <meta property="og:locale"              content="pt_BR">
    <meta property="og:url"                 content="http://www.cartoriomoreiradedeus.not.br">
    <meta property="og:title"               content="Cartório Moreira de Deus">
    <meta property="og:site_name"           content="Cartório Moreira de Deus">
    <meta property="og:description"         content="Cartório Moreira de Deus - Existe para fornecer segurança jurídica e atender com qualidade a sociedade.">
    <meta property="og:type"                content="website">
    <meta property="og:image"               content="https://storage.googleapis.com/discoveryone/public/images/moreiradedeus/newlogo.png">
    <meta property="og:image:type"          content="image/png">
    <meta property="og:image:width"         content="231">
    <meta property="og:image:height"        content="35">
    
    <title>Cartório Moreira de Deus</title>
    <!-- Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
     <!-- Preloader -->
    <link rel="stylesheet" href="https://storage.googleapis.com/discoveryone/public/stylesheets/moreiradedeus/preloader.css" type="text/css" media="screen, print"/>
    <!-- Icon Font-->
    <link rel="stylesheet" href="https://storage.googleapis.com/discoveryone/public/stylesheets/moreiradedeus/style_second.css">
    <link rel="stylesheet" href="https://storage.googleapis.com/discoveryone/public/stylesheets/moreiradedeus/owl.carousel.css">
    <link rel="stylesheet" href="https://storage.googleapis.com/discoveryone/public/stylesheets/moreiradedeus/owl.theme.default.css">
    <!-- Animate CSS-->
    <link rel="stylesheet" href="https://storage.googleapis.com/discoveryone/public/stylesheets/moreiradedeus/animate.css">
    <!-- Bootstrap -->
    <link href="https://storage.googleapis.com/discoveryone/public/stylesheets/moreiradedeus/bootstrap.min.css" rel="stylesheet">
    <!-- Style -->
    <link href="https://storage.googleapis.com/discoveryone/public/stylesheets/moreiradedeus/style.css" rel="stylesheet">
    <!-- Responsive CSS -->
    <link href="https://storage.googleapis.com/discoveryone/public/stylesheets/moreiradedeus/responsive.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/lte-ie7.js"></script>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body itemscope itemtype = "http://schema.org/Notary">
                <!-- Preloader -->
                <div id="preloader">
                    <div id="status">&nbsp;</div>
                </div>
    <header id="HOME" style="background-position: 50% -125px;">
	        <div class="section_overlay">
	            <nav class="navbar navbar-default navbar-fixed-top">
	              <div class="container">
	                <!-- Brand and toggle get grouped for better mobile display -->
	                <div class="navbar-header">
	                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                  </button>
	                  <a class="navbar-brand" itemprop="url" href="http://www.cartoriomoreiradedeus.not.br"><img itemprop="logo" src="https://storage.googleapis.com/discoveryone/public/images/moreiradedeus/newlogo.png" alt="Cartório Moreira de Deus"></a>
	                </div>
	                <!-- Collect the nav links, forms, and other content for toggling -->
	                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                  <ul class="nav navbar-nav navbar-right">
	                    <li><a href="#HOME">Início</a></li>
	                    <li><a href="#SERVICE">Serviços</a></li>
	                    <li><a href="#ABOUT">O Cartório</a></li>
	                    <li><a href="#TESTIMONIAL">Reputação</a></li>
	                    <li><a href="#WORK">Produtos</a></li>
	                    <li><a href="#CONTACT">Contato</a></li>
                        <li><a href="http://mail.cartoriomoreiradedeus.not.br">E-Mail</a></li>
	                  </ul>
	                </div><!-- /.navbar-collapse -->
	              </div><!-- /.container -->
	            </nav> 
	            <div class="container">
	                <div class="row">
	                    <div class="col-md-12 text-center">
	                        <div class="home_text wow fadeInUp animated">
	                            <h2>Cartório Moreira de Deus</h2>
	                            <img src="https://storage.googleapis.com/discoveryone/public/images/moreiradedeus/shape.png" alt="">                        
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="container">
	                <div class="row">
	                    <div class="col-md-12 text-center">
	                        <div class="scroll_down">
                            <a href="#SERVICE"><img src="https://storage.googleapis.com/discoveryone/public/images/moreiradedeus/scroll.png" alt=""></a>
	                            <h4>Rolar para Baixo</h4>
	                        </div>
	                    </div>
	                </div>
	            </div>            
	        </div>         
    </header>
    <section class="services" id="SERVICE">
        <div class="container" itemprop="hasOfferCatalog" itemscope itemtype="http://schema.org/OfferCatalog">
            <div class="row">
                <div class="col-md-3 text-center" itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">
                    <div class="single_service wow fadeInUp" data-wow-delay="1s">
                        <i class="icon-document"></i>
                        <h2><span itemprop="name">DUT Eletrônico</span></h2>
                        <p><span itemprop="description">Documento de registro e licenciamento de veículo.</span></p>
                    </div>
                </div>
                <div class="col-md-3 text-center" itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">
                    <div class="single_service wow fadeInUp" data-wow-delay="2s">
                        <i class="icon-documents"></i>
                        <h2><span itemprop="name">Escritura Pública</span></h2>
                        <p><span itemprop="description">Documento de forma descritiva, elaborado pelo tabelião, do que presenciou e que lhe foi declarado pelos participantes do ato.</span></p>
                    </div>
                </div>
                <div class="col-md-3 text-center" itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">
                    <div class="single_service wow fadeInUp" data-wow-delay="3s">
                        <i class="icon-layers"></i>
                        <h2><span itemprop="name">Ata Notarial</span></h2>
                        <p><span itemprop="description">É um documento público da narração de fatos verificados pelo tabelião e conforme legislação faz prova plena.</span></p>
                    </div>
                </div>
                <div class="col-md-3 text-center" itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">
                    <div class="single_service wow fadeInUp" data-wow-delay="4s">
                        <i class="icon-newspaper"></i>
                        <h2><span itemprop="name">Inventário e Partilha</span></h2>
                        <p><span itemprop="description">De bens hereditários, desde que não haja testamento e que todos os envolvidos sejam capazes e concordem.</span></p>
                    </div>
                </div>
            </div>      
            <div class="row">
                <div class="col-md-3 text-center" itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">
                    <div class="single_service wow fadeInUp" data-wow-delay="1s">
                        <i class="icon-pencil"></i>
                        <h2><span itemprop="name">Certificado Digital</span></h2>
                        <p><span itemprop="description">É regulamentada pela ICP-Brasil que serve para assinar digitalmente documentos eletrônicos com validade jurídica.</span></p>
                    </div>
                </div>
                <div class="col-md-3 text-center" itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">
                    <div class="single_service wow fadeInUp" data-wow-delay="2s">
                        <i class="icon-edit"></i>
                        <h2><span itemprop="name">Reconhecimento de Firma</span></h2>
                        <p><span itemprop="description">É o atesto do tabelião que a assinatura no documento é de quem o assinou.</span></p>
                    </div>
                </div>
                <div class="col-md-3 text-center" itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">
                    <div class="single_service wow fadeInUp" data-wow-delay="3s">
                        <i class="icon-happy"></i>
                        <h2><span itemprop="name">Separação / Divórcio</span></h2>
                        <p><span itemprop="description">Desde que não haja filhos menores ou incapazes do casal e que nenhum dos cônjuges seja incapaz.</span></p>
                    </div>
                </div>
                <div class="col-md-3 text-center" itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">
                    <div class="single_service wow fadeInUp" data-wow-delay="4s">
                        <i class="icon-hotairballoon"></i>
                        <h2><span itemprop="name">Conciliação</span></h2>
                        <p><span itemprop="description">É o instrumento jurídico o qual antecipa a maioridade civil a partir dos 16 anos de idade.</span></p>
                    </div>
                </div>
            </div>  
            <div class="row">
                <div class="col-md-3 text-center" itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">
                    <div class="single_service wow fadeInUp" data-wow-delay="1s">
                        <i class="icon-camera"></i>
                        <h2><span itemprop="name">União Estável</span></h2>
                        <p><span itemprop="description">Instrumento para formalizar a convivência entre duas pessoas, que agem como se casadas fossem.</span></p>
                    </div>
                </div>
                <div class="col-md-3 text-center" itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">
                    <div class="single_service wow fadeInUp" data-wow-delay="2s">
                        <i class="icon-printer"></i>
                        <h2><span itemprop="name">Autenticação</span></h2>
                        <p><span itemprop="description">Certifica que a cópia de um documento confere com o original.</span></p>
                    </div>
                </div>
                <div class="col-md-3 text-center" itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">
                    <div class="single_service wow fadeInUp" data-wow-delay="3s">
                        <i class="icon-clipboard"></i>
                        <h2><span itemprop="name">Testamento Público</span></h2>
                        <p><span itemprop="description">Fica registrado a vontade do testador de dispor seus bens para após a sua morte.</span></p>
                    </div>
                </div>
                <div class="col-md-3 text-center" itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">
                    <div class="single_service wow fadeInUp" data-wow-delay="4s">
                        <i class="icon-book-open"></i>
                        <h2><span itemprop="name">Procuração Pública</span></h2>
                        <p><span itemprop="description">É o documento de passagem de poderes para que uma outra pessoa lhe represente.</span></p>
                    </div>
                </div>
            </div>  
        </div>
    </section>
    <section class="about_us_area" id="ABOUT">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="about_title">
                        <h2>Um pouquinho da nossa história</h2>
                        <img src="https://storage.googleapis.com/discoveryone/public/images/moreiradedeus/shape.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4  wow fadeInLeft animated">
                    <div class="single_progress_bar">
                        <h2>LEGALIDADE - 100%</h2>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            <span class="sr-only">100% Completo</span>
                          </div>
                        </div>
                    </div>
                    <div class="single_progress_bar">
                        <h2>SEGURANÇA - 100%</h2>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            <span class="sr-only">100% Completo</span>
                          </div>
                        </div>
                    </div>
                    <div class="single_progress_bar">
                        <h2>QUALIDADE DE ATENDIMENTO - 100%</h2>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            <span class="sr-only">100% Completo</span>
                          </div>
                        </div>
                    </div>
                    <div class="single_progress_bar">
                        <h2>INFORMATIZADO - 100%</h2>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            <span class="sr-only">100% CompletO</span>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  wow fadeInRight animated">
                    <p class="about_us_p">O nosso propósito é dar segurança jurídica dos atos praticados. Somos o <span itemprop="legalName">10º Tabelionato de Notas de Fortaleza</span>, legalmente constituido e existimos para promover a garantia legal dos atos juridicos perfeitos. Temos uma equipe multidisciplinar, formada por bacharéis em direito, administração, assistente social e contabilidade, cujo o foco é garantir segurança jurídica com qualidade no atendimento e oferecer serviços personalizados no limite estabelecido por lei.</p>
                </div>
                <div class="col-md-4  wow fadeInRight animated">
                    <p class="about_us_p">Em 21 (vinte e um) anos de atividades, consideramos que a nossa história está só começando. Em Outubro de 2015, iniciamos uma nova fase de crescimento estrutural e desenvolvimento técnologico, com o objetivo de melhorar os nossos serviços oferecidos a sociedade, que pela qual existimos. E em 2016 será o período de lançamentos dos nossos produtos on-line para melhor atender.</p>
                </div>
            </div>
        </div>
    </section>
    
    <section class="testimonial text-center wow fadeInUp animated" id="TESTIMONIAL">
        <div class="container">
            <div class="icon">
                <i class="icon-quote"></i>
            </div>
            <div class="owl-carousel">
                <div class="single_testimonial text-center wow fadeInUp animated">
                    <p>Excelente e rápido atendimento. Espaço agradável, com ar condicionado. Funcionários prestativos!.</p>
                    <h4>-CHARLENE XIMENES - FourSquare</h4>
                </div>
                <div class="single_testimonial text-center">
                    <p>Um ambiente tranquilo e agradável!! O serviço é prestado com agilidade. Aqui o cliente sai satisfeito !!! <br>Tem cafezinho, chá e ainda para os clientes que trazem suas crianças tem um divertido jardim!!</p>
                    <h4>-KAROL ARAGAO - FourSquare</h4>
                </div>
            </div>            
        </div>
    </section>
<section class="work_area" id="WORK">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="work_title  wow fadeInUp animated">
                        <h1>Produtos on-line</h1>
                        <img src="https://storage.googleapis.com/discoveryone/public/images/moreiradedeus/shape.png" alt="">
                        <p>Soluções tecnologicas que transformará a experiência de consumo dos serviços cartórios em um momento único.<br> Disponibilizaremos soluções inteligentes, que proporcionará uma experiência única ao usuário final,<br> com o objetivo que o seu dia seja melhor aproveitado.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" itemprop="makesOffer" itemscope itemtype="http://schema.org/Offer">
            <div class="row">
                <div class="col-md-6 no_padding" itemprop="itemOffered" itemscope itemtype="http://schema.org/Product">
                    <div class="single_image">
                        <img src="https://storage.googleapis.com/discoveryone/public/images/moreiradedeus/w1new.png" alt="">
                        <div class="image_overlay">
                            <a href="">Acesse o nosso App</a>
                            <h2><span itemprop="name">Agenda</span></h2>
                            <h4><span itemprop="description">Agende um atendimento para diligência ou no cartório</span></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 no_padding" itemprop="itemOffered" itemscope itemtype="http://schema.org/Product">
                    <div class="single_image">
                        <img src="https://storage.googleapis.com/discoveryone/public/images/moreiradedeus/w2new.png" alt="">
                        <div class="image_overlay">
                            <a href="">Acesse o nosso App</a>
                            <h2><span itemprop="name">Digital Document</span></h2>
                            <h4><span itemprop="description">Consulte, visualize e envier documentos ao nosso serviço de GED</span></h4>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="row pad_top">
                <div class="col-md-6 no_padding" itemprop="itemOffered" itemscope itemtype="http://schema.org/Product">
                    <div class="single_image">
                        <img src="https://storage.googleapis.com/discoveryone/public/images/moreiradedeus/w3new.png" alt="">
                        <div class="image_overlay">
                            <a href="">Acesse o nosso App</a>
                            <h2><span itemprop="name">Procuração Fácil</span></h2>
                            <h4><span itemprop="description">Elabore a procuração no nosso app e vá ao cartório apenas assinar</span></h4>
                        </div>                        
                    </div>
                </div>
                <div class="col-md-6 no_padding" itemprop="itemOffered" itemscope itemtype="http://schema.org/Product">
                    <div class="single_image">
                        <img src="https://storage.googleapis.com/discoveryone/public/images/moreiradedeus/w4new.png" alt="">
                        <div class="image_overlay">
                            <a href="">Acesse o nosso App</a>
                            <h2><span itemprop="name">Pesquisar</span></h2>
                            <h4><span itemprop="description">Localiza quais tipos de documentos e pessoas estão vinculados a você</span></h4>
                        </div>                        
                    </div>
                </div>
            </div>
            </div>
    </section>
    <section class="call_to_action">
        <div class="container">
            <div class="row">
                <div class="col-md-8 wow fadeInLeft animated">
                    <div class="left">
                        <h2>Você quer ter acesso aos nossos produtos on-line?</h2>
                        <p>Todos os Apps estão em fase de desenvolvimento e testes, ou seja, são versões alfa. Mas, estimamos que paulatinamento serão liberados durante o ano de 2016.</p>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1 wow fadeInRight animated">
                    <div class="baton">
	                    <a href="#CONTACT">
	                        <button type="button" class="btn btn-primary cs-btn">Vamos Conversar</button>
	                    </a>    
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact" id="CONTACT">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="contact_title  wow fadeInUp animated">
                        <h1>Entre em Contato</h1>
                        <img src="https://storage.googleapis.com/discoveryone/public/images/moreiradedeus/shape.png" alt="">
                        <p>Está cheio de ideias ou de dúvidas?<br/>Escreve pra gente vamos conversar. Mas não esqueça de dizer olá. ;)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3  wow fadeInLeft animated">
                    <div class="single_contact_info">
                        <h2>Ligue</h2>
                        <p><span itemprop="telephone">+55 (85) 3223-9565</span></p>
                        <p>+55 (85) 98895-5280</p>
                    </div>
                    <div class="single_contact_info">
                        <h2>Email</h2>
                        <p><a href="mailto:ola@cartoriomoreiradedeus.not.br" itemprop="email">ola@cartoriomoreiradedeus.not.br</a></p>
                    </div>
                    <div class="single_contact_info" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <h2>Endereço</h2>
                        <p>
                            <span itemprop="streetAddress">Rua Casimiro Montenegro, 88<br/>Monte Castelo </span>, 
                            <span itemprop="addressLocality">Fortaleza</span> - 
                            <span itemprop="addressRegion">Ceará</span>
                            <br/>
                            CEP: <span itemprop="postalCode">60.325-720</span>
                        </p>
                    </div>
                    <div class="single_contact_info">
                        <h2>Aberto</h2>
                        <p> 
                            <span itemprop="openingHours" content="Mo, Tu, We, Th, Fr 08:00-17:00">De Segunda-feira a Sexta-feira<br/>das 08 as 17 horas.</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-9  wow fadeInRight animated">
                    <form class="contact-form" action="">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="name" placeholder="Nome">
                                <input type="email" class="form-control" id="email" placeholder="Email">
                                <input type="text" class="form-control" id="subject" placeholder="Assunto">                                
                            </div>
                            <div class="col-md-6">
                                <textarea class="form-control" id="message" rows="25" cols="10" placeholder="  Texto da Mensagem..."></textarea>                                
                            </div>
                            <button type="button" class="btn btn-default submit-btn form_submit">ENVIAR MENSAGEM</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="work-with   wow fadeInUp animated">
                        <h3>Ansiono para saber sobre você!</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
<footer>
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="footer_logo wow fadeInUp animated">
                        <h2><span itemprop="brand">Cartório Moreira de Deus</span></h2>                        
	                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="footer_logo   wow fadeInUp animated">
                        <img src="https://storage.googleapis.com/discoveryone/public/images/moreiradedeus/newlogo.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center wow fadeInUp animated">
                    <div class="social">
                        <h2>Sigam-me por aqui</h2>
                        <ul class="icon_list">
                            <li><a itemprop="sameAs" href="" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a itemprop="sameAs" href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a itemprop="sameAs" href=""><i class="fa fa-google-plus"></i></a></li>
                            <li><a itemprop="sameAs" href=""><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="copyright_text wow fadeInUp animated">
                        <p>&copy; Cartório Moreira de Deus 2016. Todos os Direitos Reservados por <a href="http://www.lenines.com"target="_blank">Lenines</a></p>
                        <p>Feito com amor e por pessoas criativas.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- =========================
     SCRIPTS 
============================== -->
    <script src="https://storage.googleapis.com/discoveryone/public/javascripts/moreiradedeus/jquery.min.js"></script>
    <script src="https://storage.googleapis.com/discoveryone/public/javascripts/moreiradedeus/bootstrap.min.js"></script>
    <script src="https://storage.googleapis.com/discoveryone/public/javascripts/moreiradedeus/jquery.nicescroll.js"></script>
    <script src="https://storage.googleapis.com/discoveryone/public/javascripts/moreiradedeus/owl.carousel.js"></script>
    <script src="https://storage.googleapis.com/discoveryone/public/javascripts/moreiradedeus/wow.js"></script>
    <script src="https://storage.googleapis.com/discoveryone/public/javascripts/moreiradedeus/script.js"></script>
</body>
</html>