<!DOCTYPE html>
<html lang="pt-br" data-ng-app="mdApp">
<head>
    <meta http-equiv="X-UA-Compatible"      content="IE=edge">
    <meta name="robots"                     content="all, index, follow"/>
    
    <!-- Geral -->
    <meta name="title"                      content="Apostila de Haia - Cartório Moreira de Deus">
    <meta name="language"                   content="pt-br"/>
    <meta charset="utf-8">
    <meta name="viewport"                   content="width=device-width, initial-scale=1.0">
    <meta name="description"                content="Apostila - é um certificado de autenticidade emitido pelo Cartório Moreira de Deus, que é impresso em um documento publico para atestar sua origem.">
    <meta name="keywords"                   content="cartório fortaleza, cartório, cartório em fortaleza, cartório de notas, tabelionato de notas, cartorio tabelionato, cartório moreira de deus, moreira de deus, apostila de haia, apostila, apostilamento">    
    <meta name="author"                     content="Lenines - www.lenines.com">
    <meta name="copyright"                  content="2016">
    
    <!-- Meta tags Google
    <link rel="author" href="https://plus.google.com/"/>
    <link rel="me" href="https://plus.google.com/"/>
    -->
    
    <!-- Meta tags do Facebook -->
    <meta property="og:locale"              content="pt_BR">
    <meta property="og:url"                 content="http://www.cartoriomoreiradedeus.not.br/servicos/apostiladehaia.html">
    <meta property="og:title"               content="Apostila de Haia - Cartório Moreira de Deus">
    <meta property="og:site_name"           content="Cartório Moreira de Deus">
    <meta property="og:description"         content="Apostila - é um certificado de autenticidade emitido pelo Cartório Moreira de Deus, que é impresso em um documento publico para atestar sua origem.">
    <meta property="og:type"                content="website">
    <meta property="og:image"               content="https://storage.googleapis.com/discoveryone2/public/images/moreiradedeus/newlogo.png">
    <meta property="og:image:type"          content="image/png">
    <meta property="og:image:width"         content="231">
    <meta property="og:image:height"        content="35">
    
    <title>Cartório Moreira de Deus</title>
    <!-- Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
     <!-- Preloader -->
    <link rel="stylesheet" href="https://storage.googleapis.com/discoveryone2/public/stylesheets/moreiradedeus/preloader.min.css" type="text/css" media="screen, print"/>
    <!-- Icon Font-->
    <link rel="stylesheet" href="https://storage.googleapis.com/discoveryone2/public/stylesheets/moreiradedeus/style_second.min.css">
    <link rel="stylesheet" href="https://storage.googleapis.com/discoveryone2/public/stylesheets/moreiradedeus/owl.carousel.min.css">
    <link rel="stylesheet" href="https://storage.googleapis.com/discoveryone2/public/stylesheets/moreiradedeus/owl.theme.default.min.css">
    <!-- Animate CSS-->
    <link rel="stylesheet" href="https://storage.googleapis.com/discoveryone2/public/stylesheets/moreiradedeus/animate.min.css">
    <!-- Bootstrap -->
    <link href="https://storage.googleapis.com/discoveryone2/public/stylesheets/moreiradedeus/bootstrap.min.css" rel="stylesheet">
    <!-- Style -->
    <link href="https://storage.googleapis.com/discoveryone2/public/stylesheets/moreiradedeus/style.min.css" rel="stylesheet">
    <!-- Responsive CSS -->
    <link href="https://storage.googleapis.com/discoveryone2/public/stylesheets/moreiradedeus/responsive.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/lte-ie7.js"></script>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	
	<link rel="apple-touch-icon" sizes="57x57" href="https://storage.googleapis.com/discoveryone2/public/images/moreiradedeus/icon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="https://storage.googleapis.com/discoveryone2/public/images/moreiradedeus/icon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="https://storage.googleapis.com/discoveryone2/public/images/moreiradedeus/icon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="https://storage.googleapis.com/discoveryone2/public/images/moreiradedeus/icon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="https://storage.googleapis.com/discoveryone2/public/images/moreiradedeus/icon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="https://storage.googleapis.com/discoveryone2/public/images/moreiradedeus/icon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="https://storage.googleapis.com/discoveryone2/public/images/moreiradedeus/icon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="https://storage.googleapis.com/discoveryone2/public/images/moreiradedeus/icon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="https://storage.googleapis.com/discoveryone2/public/images/moreiradedeus/icon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="https://storage.googleapis.com/discoveryone2/public/images/moreiradedeus/icon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="https://storage.googleapis.com/discoveryone2/public/images/moreiradedeus/icon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="https://storage.googleapis.com/discoveryone2/public/images/moreiradedeus/icon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://storage.googleapis.com/discoveryone2/public/images/moreiradedeus/icon/favicon-16x16.png">
	<link rel="manifest" href="https://storage.googleapis.com/discoveryone2/public/images/moreiradedeus/icon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="https://storage.googleapis.com/discoveryone2/public/images/moreiradedeus/icon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="icon" href="https://storage.googleapis.com/discoveryone2/public/images/moreiradedeus/icon/favicon.ico">
	
</head>
<body itemscope itemtype = "http://schema.org/Notary">
                <!-- Preloader -->
                <div id="preloader">
                    <div id="status">&nbsp;</div>
                </div>
    <header id="HOME" style="background-position: 50% -125px;">
	        <div class="section_overlay">
	            <nav class="navbar navbar-default navbar-fixed-top">
	              <div class="container">
	                <!-- Brand and toggle get grouped for better mobile display -->
	                <div class="navbar-header">
	                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                  </button>
	                  <a class="navbar-brand" itemprop="url" href="http://www.cartoriomoreiradedeus.not.br/servicos/apostiladehaia.html"><img itemprop="logo" src="https://storage.googleapis.com/discoveryone2/public/images/moreiradedeus/newlogoMD.png" alt="Cartório Moreira de Deus"></a>
	                </div>
	                <!-- Collect the nav links, forms, and other content for toggling -->
	                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                  <ul class="nav navbar-nav navbar-right">
	                    <li><a href="http://www.cartoriomoreiradedeus.not.br">Início</a></li>
	                    <li><a href="http://www.cartoriomoreiradedeus.not.br/servicos">Serviços</a></li>
	                    <li><a href="http://www.cartoriomoreiradedeus.not.br/ocartorio">O Cartório</a></li>
	                    <li><a href="http://www.cartoriomoreiradedeus.not.br/reputacao">Reputação</a></li>
	                    <li><a href="http://www.cartoriomoreiradedeus.not.br/produtos">Produtos</a></li>
	                    <li><a href="#CONTACT">Contato</a></li>
                        <li><a href="http://mail.cartoriomoreiradedeus.not.br">E-Mail</a></li>
                        <li><a href="http://blog.cartoriomoreiradedeus.not.br">Blog</a></li>  
	                  </ul>
	                </div><!-- /.navbar-collapse -->
	              </div><!-- /.container -->
	            </nav>  
	        </div>         
    </header>
    
    <section  class="service">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="contact_title  wow fadeInUp animated">
                        <h1><span itemprop="name">Apostila de Haia</span></h1>
                        <img src="https://storage.googleapis.com/discoveryone2/public/images/moreiradedeus/shape.png" alt="Cartório Moreira de Deus em Fortaleza">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-sm-6">
                    <h3>Descrição</h3>
                    <p class="text-justify"><span itemprop="description">É um certificado de autenticidade emitido, que é impresso em um documento publico para atestar sua origem.</span></p>
                    <p class="text-justify">No momento em que você precisar apresentar algum documento em outro país, por exemplo um documento brasileiro a ser apresentado na Espanha. Nestes casos, a emissão da Apostila garantirá o reconhecimento da autenticidade da assinatura do agente público competente dotado de fé pública ou no notário que tenha reconhecido a firma do documento.</p>
                    <p class="text-justify">Pois, o objetivo da Apostila é certificar apenas a origem do documento público, e não o próprio documento, ou seja certifica a autenticidade da assinatura (reconhecimento de firma) da pessoa, da função ou do cargo exercido pelo signatário do documento e, quando for o caso, a autenticidade do selo ou carimbo nele posto. Desta forma, a Apostila não certifica o conteúdo do documento.</p>
                    <h3>Documentos Publicos que podem ser apostilados</h3>
                    <ul>
                        <li><p>Os documentos provenientes de uma autoridade ou de um agente público vinculados a qualquer jurisdição do Estado, inclusive os documentos provenientes do Ministério Público, de escrivão judiciário ou de oficial de justiça.</p></li>
                        <li><p>Os documentos administrativos.</p></li>
						<li><p><a href="http://www.cartoriomoreiradedeus.not.br/servicos/atanotarial"><strong>Os atos notariais</strong></a>.</p></li>
						<li><p>As declarações oficiais apostas em documentos de natureza privada, tais como certidões que comprovem o registro de um documento ou a sua existência em determinada data, e reconhecimentos de assinatura.</p></li>
						<li><p>E outros, consulte o nosso cartório.</p></li>
                    </ul>
                    <h3>Investimento</h3>
                        <meta itemprop="currenciesAccepted" content="BRL" />
<!--                    <p><strong>Valor:</strong> <em>R$ <span itemprop="priceRange">36,24</span></em>-->
                    <p><strong>Forma de Pagamento:</strong> <span itemprop="paymentAccepted">Dinheiro, Visa, MasterCard, American Express e Elo</span></p>
					<h3>Perguntas e respostas</h3>
					<ul>
						<li><p><a href="http://blog.cartoriomoreiradedeus.not.br/post/149467263356/o-documento-apostilado-precisa-ser-original-não"><strong>O documento apostilado precisa ser original?</strong></a></p></li>
						<li><p><a href="http://blog.cartoriomoreiradedeus.not.br/post/149466369846/quais-são-os-efeitos-da-apostila-o-objetivo-da"><strong>Quais são os efeitos da Apostila?</strong></a></p></li>
						<li><p><a href="http://blog.cartoriomoreiradedeus.not.br/post/149462895476/decreto-nº-86602016"><strong>Qual o Decreto do apostilamento?</strong></a></p></li>
						<li><p><a href="http://blog.cartoriomoreiradedeus.not.br/post/149462819331/convenção-relativa-à-supressão-da-exigência-da"><strong>Qual o conteudo da convenção relativa à supressão da exigência da legalização dos actos públicos estrangeros?</strong></a></p></li>
						<li><p><a href="http://blog.cartoriomoreiradedeus.not.br/post/149461774776/sou-tradutor-juramentado-devo-abrir-firma-em"><strong>Sou tradutor juramentado. Devo abrir firma em cartório para que documento elaborado por mim possa receber uma Apostila?</strong></a></p></li>
						<li><p><a href="http://blog.cartoriomoreiradedeus.not.br/post/149461410806/não-há-autoridades-apostilantes-na-minha-cidade-é"><strong>Não há autoridades apostilantes na minha cidade, é possível solicitar ao Cartório Moreira de Deus a Apostila por correio?</strong></a></p></li>
						<li><p><a href="http://blog.cartoriomoreiradedeus.not.br/post/149458181781/o-que-é-a-convenção-de-haia-a-convenção-de-haia"><strong>O que é a Convenção de Haia?</strong></a></p></li>
					</ul>
                </div>
                <div class="col-xs-6 col-md-4" itemscope itemtype="http://schema.org/VideoObject">
                    <h3>Video: <a href="https://youtu.be/NFGsmIuaqoY"><span itemprop="name">Validar documentos no exterior será mais fácil</span></a></h3>
                    <meta itemprop="uploadDate" content="2015-06-12T08:00:00+08:00"/>
                    <meta itemprop="thumbnailUrl" content="https://storage.googleapis.com/discoveryone2/public/images/moreiradedeus/Captura%20de%20Tela%202016-02-29%20às%2012.46.38.png"/>
                    <link itemprop="contentUrl" href="https://youtu.be/NFGsmIuaqoY" />
                    <link itemprop="embedUrl" href="https://www.youtube.com/embed/NFGsmIuaqoY?rel=0"/>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/NFGsmIuaqoY?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <span itemprop="description">Ficou mais fácil validar documentos brasileiros no exterior.</span>
                </div>
            </div>
        </div>
    </section>
    
    <section class="contact" id="CONTACT">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="contact_title  wow fadeInUp animated">
                        <h1>Entre em Contato</h1>
                        <img src="https://storage.googleapis.com/discoveryone2/public/images/moreiradedeus/shape.png" alt="Cartório Moreira de Deus em Fortaleza">
                        <p>Está cheio de ideias ou de dúvidas?<br/>Escreve pra gente vamos conversar. Mas não esqueça de dizer olá. ;)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" data-ng-controller="mdControllerContato">
            <div class="row">
                <div class="col-md-3  wow fadeInLeft animated">
                    <div class="single_contact_info">
                        <h2>Ligue</h2>
                        <p><span itemprop="telephone">+55 (85) 3223-9565</span></p>
                        <p><span itemprop="telephone">+55 (85) 98895-5280</span></p>
                    </div>
                    <div class="single_contact_info">
                        <h2>Email</h2>
                        <address><p><a href="mailto:ola@cartoriomoreiradedeus.not.br" itemprop="email">ola@cartoriomoreiradedeus.not.br</a></p></address>
                    </div>
                    <div class="single_contact_info" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <h2>Endereço</h2>
                        <address><p>
                            <span itemprop="streetAddress">Rua Casimiro Montenegro, 70<br/>Monte Castelo </span>, 
                            <span itemprop="addressLocality">Fortaleza</span> - 
                            <span itemprop="addressRegion">Ceará</span>
                            <br/>
                            CEP: <span itemprop="postalCode">60.325-720</span>
                        </p></address>
                    </div>
                    <div class="single_contact_info">
                        <h2>Aberto</h2>
                        <p> 
                            <span itemprop="openingHours" content="Mo, Tu, We, Th, Fr 08:00-17:00">De Segunda-feira a Sexta-feira<br/>das 08 as 17 horas.</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-9  wow fadeInRight animated">
                    <form name 		= "formContato" 
						  class		= "contact-form" 
						  method 	= "post" 
						  action	= "">
                        <div class="row">
                            <div class="col-md-6">
                                <input type				= "text" 
									   name				= "name"
									   class			= "form-control"
									   id				= "name"
									   required
									   placeholder		= "Nome"
									   data-ng-model	= "enviocontato.nome">
                                <input type				= "email" 
									   name				= "email"
									   class			= "form-control" 
									   id				= "email"
									   required
									   placeholder		= "Email"
									   ng-model-options	= "{debounce: 500}"
									   data-ng-model	= "enviocontato.email">
								<input type				= "tel"
									   name				= "telefone"
									   class			= "form-control" 
									   id				= "phone"
									   placeholder		= "Smartphone"
									   phone-input
									   data-ng-model	= "enviocontato.telefone">
                                <input type				= "text"
									   name				= "assunto"
									   class			= "form-control" 
									   id				= "subject"
									   required
									   placeholder		= "Assunto"
									   data-ng-model	= "enviocontato.assunto">                                
                            </div>
                            <div class="col-md-6">
                                <textarea name			= "message"
										  class			= "form-control" 
										  id			= "message"
										  required
										  rows			= "25" 
										  cols			= "10" 
										  placeholder	= "  Texto da Mensagem..."
										  data-ng-model	= "enviocontato.mensagem"></textarea>                                
                            </div>
                            <button type				= "button" 
									class				= "btn btn-default submit-btn form_submit"
									data-ng-disabled	= "formContato.email.$error.email || formContato.email.$error.required"
									data-toggle			= "modal"
									data-target			= "#msgModal"
									data-ng-click		= "enviarcontato()">ENVIAR MENSAGEM</button>
                        </div>
                    </form>
                </div>
            </div>
			
			<!-- Modal -->
			<div class="modal fade" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
				<div class="modal-content">
				  <div class="modal-header">
					<button type			= "button" 
							class			= "close" 
							data-dismiss	= "modal" 
							aria-label		= "Close"
							data-ng-click	= "zerar()"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Mensagem</h4>
				  </div>
				  <div class="modal-body">
					<p>{{msg.retorno}}</p>
				  </div>
				  <div class="modal-footer">
					<button type			= "button" 
							class			= "btn btn-default" 
							data-dismiss	= "modal" 
							data-ng-click 	= "zerar()">Fechar</button>
				  </div>
				</div>
			  </div>
			</div>
			<!-- Fim do bloco do Modal -->
			
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="work-with   wow fadeInUp animated">
                        <h3>Ansioso para saber sobre você!</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
<footer>
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="footer_logo wow fadeInUp animated">
						<img src="https://storage.googleapis.com/discoveryone2/public/images/moreiradedeus/logoMD_128x114.png" alt="Logo do Cartório Moreira de Deus em Fortaleza">
                        <h2><span itemprop="brand">Cartório Moreira de Deus</span></h2>                        
	                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="footer_logo   wow fadeInUp animated">
                        <img src="https://storage.googleapis.com/discoveryone2/public/images/moreiradedeus/newlogo.png" alt="Cartório Moreira de Deus em Fortaleza">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center wow fadeInUp animated">
                    <div class="social">
                        <h2>Sigam-me por aqui</h2>
                        <ul class="icon_list">
                            <li><a itemprop="sameAs" href="" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a itemprop="sameAs" href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a itemprop="sameAs" href=""><i class="fa fa-google-plus"></i></a></li>
                            <li><a itemprop="sameAs" href=""><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="copyright_text wow fadeInUp animated">
                        <p>&copy; Cartório Moreira de Deus 2016. Todos os Direitos Reservados por <a href="http://www.lenines.com" target="_blank">Lenines</a></p>
                        <p>Feito com amor e por pessoas criativas.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- =========================
     SCRIPTS 
============================== -->
    <script src="https://storage.googleapis.com/discoveryone2/public/javascripts/moreiradedeus/jquery.min.js"></script>
	<script src="https://storage.googleapis.com/discoveryone2/public/javascripts/common/angular.min.js"></script>
    <script src="https://storage.googleapis.com/discoveryone2/public/javascripts/moreiradedeus/bootstrap.min.js"></script>
    <script src="https://storage.googleapis.com/discoveryone2/public/javascripts/moreiradedeus/jquery.nicescroll.min.js"></script>
    <script src="https://storage.googleapis.com/discoveryone2/public/javascripts/moreiradedeus/owl.carousel.min.js"></script>
    <script src="https://storage.googleapis.com/discoveryone2/public/javascripts/moreiradedeus/wow.min.js"></script>
    <script src="https://storage.googleapis.com/discoveryone2/public/javascripts/moreiradedeus/script.min.js"></script>
	
	<script src="https://storage.googleapis.com/discoveryone2/public/javascripts/moreiradedeus/geoLocation.js"></script>
	<script src="https://storage.googleapis.com/discoveryone2/public/javascripts/moreiradedeus/formatTel.js"></script>
	<script src="https://storage.googleapis.com/discoveryone2/public/javascripts/moreiradedeus/mdControllerContato.js"></script>
	<script src="https://storage.googleapis.com/discoveryone2/public/javascripts/moreiradedeus/mdCore.js"></script>
 <!-- =========================
     GOOGLE ANALYTICS
============================== -->   
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-96658092-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>