<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="X-UA-Compatible"      content="IE=edge">
    <meta name="robots"                     content="all, index, follow"/>
    
    <!-- Geral -->
    <meta name="title"                      content="Procuração Pública - Cartório Moreira de Deus">
    <meta name="language"                   content="pt-br"/>
    <meta charset="utf-8">
    <meta name="viewport"                   content="width=device-width, initial-scale=1.0">
    <meta name="description"                content="Procuração Pública - É o documento de passagem de poderes para que uma outra pessoa lhe represente.">
    <meta name="keywords"                   content="cartório fortaleza, cartório, cartório em fortaleza, cartório de notas, tabelionato de notas, cartorio tabelionato, cartório moreira de deus, moreira de deus, procuração, pública, procuração pública">    
    <meta name="author"                     content="Lenines - www.lenines.com">
    <meta name="copyright"                  content="2016">
    
    <!-- Meta tags Google
    <link rel="author" href="https://plus.google.com/"/>
    <link rel="me" href="https://plus.google.com/"/>
    -->
    
    <!-- Meta tags do Facebook -->
    <meta property="og:locale"              content="pt_BR">
    <meta property="og:url"                 content="http://www.cartoriomoreiradedeus.not.br/servicos/procuracaopublica.html">
    <meta property="og:title"               content="Procuração Pública - Cartório Moreira de Deus">
    <meta property="og:site_name"           content="Cartório Moreira de Deus">
    <meta property="og:description"         content="Procuração Pública - É o documento de passagem de poderes para que uma outra pessoa lhe represente.">
    <meta property="og:type"                content="website">
    <meta property="og:image"               content="https://storage.googleapis.com/discoveryone/public/images/moreiradedeus/newlogo.png">
    <meta property="og:image:type"          content="image/png">
    <meta property="og:image:width"         content="231">
    <meta property="og:image:height"        content="35">
    
    <title>Cartório Moreira de Deus</title>
    <!-- Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
     <!-- Preloader -->
    <link rel="stylesheet" href="https://storage.googleapis.com/discoveryone/public/stylesheets/moreiradedeus/preloader.min.css" type="text/css" media="screen, print"/>
    <!-- Icon Font-->
    <link rel="stylesheet" href="https://storage.googleapis.com/discoveryone/public/stylesheets/moreiradedeus/style_second.min.css">
    <link rel="stylesheet" href="https://storage.googleapis.com/discoveryone/public/stylesheets/moreiradedeus/owl.carousel.min.css">
    <link rel="stylesheet" href="https://storage.googleapis.com/discoveryone/public/stylesheets/moreiradedeus/owl.theme.default.min.css">
    <!-- Animate CSS-->
    <link rel="stylesheet" href="https://storage.googleapis.com/discoveryone/public/stylesheets/moreiradedeus/animate.min.css">
    <!-- Bootstrap -->
    <link href="https://storage.googleapis.com/discoveryone/public/stylesheets/moreiradedeus/bootstrap.min.css" rel="stylesheet">
    <!-- Style -->
    <link href="https://storage.googleapis.com/discoveryone/public/stylesheets/moreiradedeus/style.min.css" rel="stylesheet">
    <!-- Responsive CSS -->
    <link href="https://storage.googleapis.com/discoveryone/public/stylesheets/moreiradedeus/responsive.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/lte-ie7.js"></script>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body itemscope itemtype = "http://schema.org/Notary">
                <!-- Preloader -->
                <div id="preloader">
                    <div id="status">&nbsp;</div>
                </div>
    <header id="HOME" style="background-position: 50% -125px;">
	        <div class="section_overlay">
	            <nav class="navbar navbar-default navbar-fixed-top">
	              <div class="container">
	                <!-- Brand and toggle get grouped for better mobile display -->
	                <div class="navbar-header">
	                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                  </button>
	                  <a class="navbar-brand" itemprop="url" href="http://www.cartoriomoreiradedeus.not.br/servicos/procuracaopublica.html"><img itemprop="logo" src="https://storage.googleapis.com/discoveryone/public/images/moreiradedeus/newlogo.png" alt="Cartório Moreira de Deus"></a>
	                </div>
	                <!-- Collect the nav links, forms, and other content for toggling -->
	                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                  <ul class="nav navbar-nav navbar-right">
	                    <li><a href="http://www.cartoriomoreiradedeus.not.br">Início</a></li>
	                    <li><a href="">Serviços</a></li>
	                    <li><a href="">O Cartório</a></li>
	                    <li><a href="">Reputação</a></li>
	                    <li><a href="">Produtos</a></li>
	                    <li><a href="#CONTACT">Contato</a></li>
                        <li><a href="http://mail.cartoriomoreiradedeus.not.br">E-Mail</a></li>
	                  </ul>
	                </div><!-- /.navbar-collapse -->
	              </div><!-- /.container -->
	            </nav>  
	        </div>         
    </header>
    
    <section  class="service">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="contact_title  wow fadeInUp animated">
                        <h1><span itemprop="name">Procuração Pública</span></h1>
                        <img src="https://storage.googleapis.com/discoveryone/public/images/moreiradedeus/shape.png" alt="Cartório Moreira de Deus em Fortaleza">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3>Descrição</h3>
            <p class="text-justify"><span itemprop="description">A procuração pública é o modo mais seguro de outorga do mandato (procuração), pois o ortogante (parte) é devidamente identificado e qualificado no momento da lavratura da procuração, dando segurança jurídica do ato.</span></p>
            <h3>Documentos necessários</h3>
            <ul>
                <li><p>Ortogante e outorgado - pessoa física:</p></li>
                    <ul>
                        <li>Documento de identificação;</li>
                        <li><abbr title="Cadastro de Pessoa Física" class="initialism">CPF</abbr>.</li>
                    </ul><br>
                <li><p>Ortogante e outorgado - pessoa jurídica:</p></li>
                    <ul>
                        <li><abbr title="Cadastro Nacional de Pessoa Jurídica" class="initialism">CNPJ</abbr>;</li>
                        <li>Contrato social e todos aditivos existentes.</li>
                    </ul><br>
                <li><p>Representante - pessoa jurídica:</p></li>
                    <ul>
                        <li>Documento de identificação;</li>
                        <li><abbr title="Cadastro de Pessoa Física" class="initialism">CPF</abbr>.</li>
                    </ul><br>
                <li><p>Transferência de imóvel:</p></li>
                    <ul>
                        <li>Matrícula de imóvel.</li>
                    </ul><br>
                <li><p>Transferência de automóvel:</p></li>
                    <ul>
                        <li>Documento único de transferência - <abbr title="Documento Único de Transferência" class="initialism">DUT</abbr>.</li>
                    </ul>
            </ul>
            <h3>Investimento</h3>
                <meta itemprop="currenciesAccepted" content="BRL" />
            <p><strong>Valor:</strong> <em>R$ <span itemprop="priceRange">36,24</span> por outorgante</em></p>
            <p><strong>Forma de Pagamento:</strong> <span itemprop="paymentAccepted">Dinheiro, Visa, MasterCard, American Express e Elo</span></p>
        </div>
    </section>
    
    <section class="contact" id="CONTACT">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="contact_title  wow fadeInUp animated">
                        <h1>Entre em Contato</h1>
                        <img src="https://storage.googleapis.com/discoveryone/public/images/moreiradedeus/shape.png" alt="Cartório Moreira de Deus em Fortaleza">
                        <p>Está cheio de ideias ou de dúvidas?<br/>Escreve pra gente vamos conversar. Mas não esqueça de dizer olá. ;)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3  wow fadeInLeft animated">
                    <div class="single_contact_info">
                        <h2>Ligue</h2>
                        <p><span itemprop="telephone">+55 (85) 3223-9565</span></p>
                        <p><span itemprop="telephone">+55 (85) 98895-5280</span></p>
                    </div>
                    <div class="single_contact_info">
                        <h2>Email</h2>
                        <address><p><a href="mailto:procuracao@cartoriomoreiradedeus.not.br" itemprop="email">ola@cartoriomoreiradedeus.not.br</a></p></address>
                    </div>
                    <div class="single_contact_info" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <h2>Endereço</h2>
                        <address><p>
                            <span itemprop="streetAddress">Rua Casimiro Montenegro, 70<br/>Monte Castelo </span>, 
                            <span itemprop="addressLocality">Fortaleza</span> - 
                            <span itemprop="addressRegion">Ceará</span>
                            <br/>
                            CEP: <span itemprop="postalCode">60.325-720</span>
                        </p></address>
                    </div>
                    <div class="single_contact_info">
                        <h2>Aberto</h2>
                        <p> 
                            <span itemprop="openingHours" content="Mo, Tu, We, Th, Fr 08:00-17:00">De Segunda-feira a Sexta-feira<br/>das 08 as 17 horas.</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-9  wow fadeInRight animated">
                    <form class="contact-form" action="">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="name" placeholder="Nome">
                                <input type="email" class="form-control" id="email" placeholder="Email">
                                <input type="text" class="form-control" id="subject" placeholder="Assunto">                                
                            </div>
                            <div class="col-md-6">
                                <textarea class="form-control" id="message" rows="25" cols="10" placeholder="  Texto da Mensagem..."></textarea>                                
                            </div>
                            <button type="button" class="btn btn-default submit-btn form_submit">ENVIAR MENSAGEM</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="work-with   wow fadeInUp animated">
                        <h3>Ansioso para saber sobre você!</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
<footer>
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="footer_logo wow fadeInUp animated">
                        <h2><span itemprop="brand">Cartório Moreira de Deus</span></h2>                        
	                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="footer_logo   wow fadeInUp animated">
                        <img src="https://storage.googleapis.com/discoveryone/public/images/moreiradedeus/newlogo.png" alt="Cartório Moreira de Deus em Fortaleza">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center wow fadeInUp animated">
                    <div class="social">
                        <h2>Sigam-me por aqui</h2>
                        <ul class="icon_list">
                            <li><a itemprop="sameAs" href="" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a itemprop="sameAs" href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a itemprop="sameAs" href=""><i class="fa fa-google-plus"></i></a></li>
                            <li><a itemprop="sameAs" href=""><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="copyright_text wow fadeInUp animated">
                        <p>&copy; Cartório Moreira de Deus 2016. Todos os Direitos Reservados por <a href="http://www.lenines.com" target="_blank">Lenines</a></p>
                        <p>Feito com amor e por pessoas criativas.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- =========================
     SCRIPTS 
============================== -->
    <script src="https://storage.googleapis.com/discoveryone/public/javascripts/moreiradedeus/jquery.min.js"></script>
    <script src="https://storage.googleapis.com/discoveryone/public/javascripts/moreiradedeus/bootstrap.min.js"></script>
    <script src="https://storage.googleapis.com/discoveryone/public/javascripts/moreiradedeus/jquery.nicescroll.min.js"></script>
    <script src="https://storage.googleapis.com/discoveryone/public/javascripts/moreiradedeus/owl.carousel.min.js"></script>
    <script src="https://storage.googleapis.com/discoveryone/public/javascripts/moreiradedeus/wow.min.js"></script>
    <script src="https://storage.googleapis.com/discoveryone/public/javascripts/moreiradedeus/script.min.js"></script>
 <!-- =========================
     GOOGLE ANALYTICS
============================== -->   
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-7764158-5', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>